*{
    padding: 0;
}


.container {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(13,17,23);
    color:white;  
    padding: 0;
}

.container .search {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    color:white;
}

img{
    width: 200px;
    height: fit-content;

}

mat-label{
    color:white;
}

